S3method(merge, matrix)

export(
merge.matrix,mixpanelCreateAccount,mixpanelGetAddiction,
mixpanelGetData,mixpanelGetEvents,
mixpanelGetEventsFromFiles,mixpanelGetEventsForUsers,mixpanelGetProfiles,
mixpanelGetProfilesCount,mixpanelGetRetention,mixpanelGetSegmentation,
createDateSequence)
